@use '@/shared/config/styles/vars';
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hr {
  height: 1px;
  box-sizing: border-box;
  width: 100%;
  opacity: 0.1;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
