@use '@/shared/config/styles/vars';
.wrapper {
  background-color: vars.$dark_gray;
  position: relative;
  z-index: 70;
  overflow: hidden;
  width: 100%;
  max-height: 700px;
  .banner {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.7;
    width: 100vw;
    height: 700px;

    .poster {
      object-fit: cover;
      object-position: center 20%;
    }
  }
  .infoBox {
    color: vars.$white;
    z-index: 35366;
    display: flex;
    align-items: flex-end;
    position: absolute;
    gap: vars.$pd4;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 vars.$pd * 10 vars.$pd * 10 vars.$pd * 10;

    background: linear-gradient(rgba(15, 15, 15, 0) 0%, rgb(15, 15, 15) 96.85%);
    .info {
      display: flex;
      flex-direction: column;
      width: 100%;

      .top {
        display: flex;
        flex-direction: column;
        gap: vars.$pd2;
        h1 {
          margin-bottom: vars.$pd4;
          font-size: 48px;
        }
        .duration {
          color: vars.$light_gray;
          display: flex;
          flex-direction: row;
          gap: vars.$pd2;
          font-size: 16px;
        }
        .genres {
          font-size: 16px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: vars.$pd;
          color: vars.$light_gray;
        }
        .tags {
          display: flex;
          flex-direction: row;
          margin: vars.$pd5 0;
          gap: vars.$pd2;
          .tag {
            background: rgba(14, 15, 15, 0.5);
            backdrop-filter: blur(4px);
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            height: 40px;
            padding: 0px 10px;
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
      .bottom {
        display: flex;
        flex-direction: row;
        gap: vars.$pd3;
        justify-content: space-between;

        .extraInfo {
          display: flex;
          flex-direction: row;
          gap: vars.$pd3;
          color: vars.$light_gray;
          .row {
            display: flex;
            flex-direction: row;
            gap: vars.$pd2;
            align-items: flex-start;
            .icon {
              svg {
                width: 20px;
                height: 20px;
              }
            }
            p {
              font-size: 16px;
            }
            h2 {
              color: vars.$white;
              padding-bottom: vars.$pd2;
            }
          }
        }
      }
    }
  }
}

.detailInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: vars.$pd * 10;
  .columnsInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: vars.$pd4;
    color: vars.$light_gray;
    padding-bottom: vars.$pd * 10;
    h3 {
      min-width: 140px;
      color: vars.$white;
      font-size: 16px;
      font-weight: 600;
    }
    .info {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      gap: vars.$pd6;
      .infoRow {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: vars.$pd4;
      }
    }
    .description {
      flex: 0 0 50%;
      h3 {
        padding-bottom: vars.$pd3;
      }
      p {
        max-height: 150px;
        overflow-y: hidden;
      }
    }
  }
  .photos {
    display: flex;
    flex-direction: row;
    gap: vars.$pd6;
    flex-wrap: wrap;
    justify-content: center;
    .img {
      object-fit: cover;
      border: 1px solid vars.$light_gray;
      border-radius: vars.$pd;
    }
  }
}
