$pd: 5;
$pd2: 5 * 2;
$pd3: 5 * 3;
$pd4: 5 * 4;
$pd5: 5 * 5;
$pd6: 5 * 6;

$dark_gray: #0f0f0f;
$light_gray: rgba(255, 255, 255, 0.5);
$light_gray_opacity: rgba(255, 255, 255, 0.4);
$opacity_gray: rgba(26, 26, 26, 0.01);
$white: #fff;
$purple: rgb(85, 100, 244);
$orange: rgb(245, 137, 31);

$xxl: 1400;
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

$header_width: 70px;
