@use '@/shared/config/styles/vars.scss';

html,
// body {
//   max-width: 100vw;
//   overflow-x: hidden;
// }

.body {
  color: vars.$white;
  background: vars.$dark_gray;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: transparent;
  // backdrop-filter: blur(0); //35px
  padding: vars.$pd4;
  display: flex;
  gap: vars.$pd2;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.mainContainer {
  padding-top: vars.$header_width;
  flex: 1;
  display: flex;
  place-content: center;
  overflow-x: hidden;
  position: relative;
}
