@use '../config/styles/vars.scss';

.selectContainer {
  :global(.ant-select-dropdown) {
    background-color: vars.$dark_gray;
    border: 1px solid vars.$light_gray;
    color: vars.$light_gray;
  }
  :global(.ant-select) {
    border-color: vars.$light_gray !important;
    background-color: transparent;
    color: vars.$light_gray;
    width: 100%;
  }
  :global(.ant-select-item) {
    color: vars.$light_gray;
  }
  :global(.ant-select-item-option-active) {
    background-color: vars.$light_gray !important;
    color: vars.$white !important;
  }
  :global(.ant-select-item-option-selected) {
    background-color: vars.$light_gray !important;
  }
  :global(.ant-select-focused) {
    color: vars.$light_gray !important;
    border: 1px solid vars.$light_gray;
  }
  :global(.ant-select-content-value) {
    color: vars.$white !important;
  }
  :global(.ant-select-suffix) {
    color: vars.$light_gray;
  }
  :global(.rc-virtual-list-scrollbar-thumb) {
    background: vars.$light_gray !important;
    opacity: 0.2;
  }
}

.label {
  color: vars.$light_gray;
}
